{block content}

<h3>Seznam autorů</h3>

<table>
    <tr>
        <td>ID</td>
        <td>Jméno </td>
        <td>Rok narození</td>
        <td>Počet knih</td>
    </tr>
    <tr n:foreach="$autori as $autor">
        <td> {$autor->id} </td>
        <td> {$autor->jmeno} {$autor->prijmeni} </td>
        <td> {$autor->rokNarozeni} </td>
        <td> {count($knihy->where("autor_id", $autor->id))} </td>
    </tr>
</table>

<a n:href="Homepage:"> Zpět </a>